
#header {
    background-image: url(./Imagens/spidermanheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.titulo {
    width: 300px;
    margin-left: 200px;
    margin-top: 250px;
}
form {
    background-image: url(./Imagens/thor_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}
#subtitle {
    padding-left: 50%;
    color: white;
    padding-bottom: 50px;
}
#top {
    color:white;
    border-bottom: 2px solid #ffffff;

}

