header {
    background-image: url(./Imagens/captainmarvelheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title {
    width: 400px;
    margin-left: 200px;
    margin-top: 250px;
    margin-bottom: 50px;
}