
.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:grey;
    border-bottom: 2px solid #ff6b57;
    width: 200px;
    margin-left: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.title#top {
    border-bottom: 2px solid #ff6b57;
    font-size: 30px;
}

#header {
    background-image: url(../Imagens/contatoheader.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
}
img {
    width: 100px;
}
#enviar {
    background-image: linear-gradient(to bottom, #fe7476, #fc3836 );
    border-radius: 50px;
    border-color: #ff6b57;
    width: 500px;
    height: 40px;
    color: white;
    font:larger;
    margin-bottom: 20px;
}
.contacts {
    background-color: lightgrey;
    border-radius: 5px;
    border-color: grey;
    border-top-color: grey ;
    width: 500px;
    height: 50px;
}
div {
    text-align: center;
}
label   {
    margin: 70%;
}
#comentarios {
   height: 250px;
}
.titulo{
    width: 30%;
    margin: 10%;
}
.subtitle {
    margin-top: 20px;
    text-align: center;
}
.layout {
    margin: 16px
    auto 24px;
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}